// Vuetify SCSS variables overrides
// This file is imported automatically by Vite

// Typography
$body-font-family: 'Open Sans Variable', sans-serif;

// Border radius
$border-radius-root: 4px;

// Expansion panels
$expansion-panel-title-padding: 16px 24px;
